section.card-detail-content
  .container
    .card-detail-content__head
      ul.card-detail-content__head__list
        li
          a.active(href='#benefits') Benefits
        li
          a(href='#procedures') conditions procedures
        li
          a(href='#promotions') promotions
        li
          a(href='#rating') your rating
      a.btn.btn-outline-primary APPLY NOW
    .card-detail-content__body
      #benefits.card-detail-content__body__item
        .card-detail-content__body__item__left
          h1 
            a(data-toggle='collapse' data-target='#collapseCardOne' aria-expanded='true' aria-controls='collapseCardOne') Benefits
            i.icon-plus.circle
        #collapseCardOne.card-detail-content__body__item__right.collapse.show
          ul.card-detail-content__body__item__right__list
            li
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et
            li
              p Ut enim ad minim veniam. quis nostrud exercitation ullamco
            li
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            li
              p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            li
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et
            li
              p Ut enim ad minim veniam. quis nostrud exercitation ullamco
            li
              p Ut enim ad minim veniam. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            li
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      #procedures.card-detail-content__body__item
        .card-detail-content__body__item__left
          h1 
           a(data-toggle='collapse' data-target='#collapseCardTwo' aria-expanded='true' aria-controls='collapseCardTwo') Condition Procedures
           i.icon-plus.circle
        #collapseCardTwo.card-detail-content__body__item__right.collapse.show
          ul.card-detail-content__body__item__right__list
            li
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              a(href='#').link-read Read More
            li
              p Ut enim ad minim veniam. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              a(href='#').link-read Read More
      #faqs.card-detail-content__body__item
        .card-detail-content__body__item__left
          h1 
            a(data-toggle='collapse' data-target='#collapseCardThree' aria-expanded='true' aria-controls='collapseCardThree') FAQs
            i.icon-plus.circle
        #collapseCardThree.card-detail-content__body__item__right.collapse.show
          //--Ac--//
          #accordion2.home-accordion.multi-collapse
            .home-accordion__card
              #headingOne.home-accordion__card__header
                h5
                  a.collapsed(data-toggle='collapse' data-target='#collapseMultiOne' aria-expanded='true' aria-controls='collapseMultiOne')
                    | Collapsible Group Item #1
                  i.icon-plus.circle
              #collapseMultiOne.home-accordion__card__collapse.collapse(aria-labelledby='headingOne')
                .home-accordion__card__collapse__content
                  | Volutpat est velit egestas dui id. Adipiscing elit pellentesque habitant morbi tristique senectus. Ornare lectus sit amet est placerat in egestas. Neque viverra justo nec ultrices dui sapien eget. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Faucibus et molestie ac feugiat sed lectus vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
            .home-accordion__card
              #headingTwo.home-accordion__card__header
                h5
                  a.collapsed(data-toggle='collapse' data-target='#collapseMultiTwo' aria-expanded='false' aria-controls='collapseMultiTwo')
                    | Collapsible Group Item #2
                  i.icon-plus.circle
              #collapseMultiTwo.home-accordion__card__collapse.collapse(aria-labelledby='headingTwo')
                .home-accordion__card__collapse__content
                  | Volutpat est velit egestas dui id. Adipiscing elit pellentesque habitant morbi tristique senectus. Ornare lectus sit amet est placerat in egestas. Neque viverra justo nec ultrices dui sapien eget. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Faucibus et molestie ac feugiat sed lectus vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
            .home-accordion__card
              #headingThree.home-accordion__card__header
                h5
                  a.collapsed(data-toggle='collapse' data-target='#collapseMultiThree' aria-expanded='false' aria-controls='collapseMultiThree')
                    | Collapsible Group Item #3
                  i.icon-plus.circle
              #collapseMultiThree.home-accordion__card__collapse.collapse(aria-labelledby='headingThree')
                .home-accordion__card__collapse__content
                  | Volutpat est velit egestas dui id. Adipiscing elit pellentesque habitant morbi tristique senectus. Ornare lectus sit amet est placerat in egestas. Neque viverra justo nec ultrices dui sapien eget. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Faucibus et molestie ac feugiat sed lectus vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
          //--Ac--//
      #rating.card-detail-content__body__item
        .card-detail-content__body__item__left
          h1 
            a(data-toggle='collapse' data-target='#collapseCardFour' aria-expanded='true' aria-controls='collapseCardFour') Your Rating
            i.icon-plus.circle
        #collapseCardFour.card-detail-content__body__item__right.collapse.show
          include ../../components/user-vote-rating/user-vote-rating.pug
          .comment-capcha
            textarea(type="text", name="yourMessage", placeholder="Your Message")
            .capcha Capcha here
          a.btn.btn-primary(href="#") POST COMMENT