.top-secondary
  .container
    .top-secondary__link
      nav.navbar
        li
          a.navbar-item(href='#') About Us
        li
          a.navbar-item(href='#') Investor Relations
        li
          a.navbar-item(href='#') News
        li
          a.navbar-item(href='#') Recruitment
    .top-secondary__content
      nav.navbar
        li
          a.navbar-item(href='#') Wishlist
        li
          a.navbar-item(href='#') Contact Us
        li
          a.navbar-item(href='#') Branch & ATM
      span.language

.top-primary
  .container
    .top-primary__link
      a.main-logo(href='/' title='main logo')
        img(src='/assets/images/main-logo.png' width='80px' height='50px' alt='main logo')
      .mobile-menu
      nav.navbar-primary
        li.has-sub-menu
          a.navbar-item(href='#')
            | RETAIL
          ul.sub-menu
            li
              a.button-link(href='#') Link 3-1
            li
              a.button-link(href='#') Link 3-2
            li
              a.button-link(href='#') Link 3-3
        li
          a.navbar-item(href='#') HOUSEHOLD
        li
          a.navbar-item(href='#') SME
        li
          a.navbar-item(href='#') COPORATE

    .top-primary__content
      button.general-button INTERNET BANKING
