section.header
  .header__images
    picture
      source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
      img.img-responsive(src="assets/images/masthheader.png", alt="")
  .container
    .header__text
      .header__text__sub-title Reatail/ Card Services
      .header__text__title Card services
      .header__text__detail Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, autem?