.header {
  position: relative;

  .img-responsive {
    width: 100%;
    height: auto;
  }

  &__text {
    position: absolute;
    top: 53px;

    &__sub-title {
      font-size: 25px;
    }

    &__title {
      font-size: 80px;
      font-weight: 700;
    }

    &__detail {
      font-size: 35px;
      font-weight: 400;
    }
  }
}