- var creditCard = []
- creditCard.push({name : "1", img: "/assets/images/card.png", dataIndex: "1"})
- creditCard.push({name : "2", img: "/assets/images/card.png", dataIndex: "2"})
- creditCard.push({name : "3", img: "/assets/images/card.png", dataIndex: "3"})
- creditCard.push({name : "4", img: "/assets/images/card.png", dataIndex: "4"})
- creditCard.push({name : "5", img: "/assets/images/card.png", dataIndex: "5"})
- creditCard.push({name : "6", img: "/assets/images/card.png", dataIndex: "6"})
- creditCard.push({name : "7", img: "/assets/images/card.png", dataIndex: "7"})
- creditCard.push({name : "8", img: "/assets/images/card.png", dataIndex: "8"})
- creditCard.push({name : "9", img: "/assets/images/card.png", dataIndex: "9"})
- creditCard.push({name : "10", img: "/assets/images/card.png", dataIndex: "10"})
- creditCard.push({name : "11", img: "/assets/images/card.png", dataIndex: "11"})
.container
  .add-card-component
    .add-card-content
      each element in creditCard
          .credit-card-item(data-index=element.dataIndex)
            .card-image
              img(src= "/assets/images/card.png", alt="")
            p.card-name= element.name
            span.card-action + Add
    #compareCard.home-accordion__card__header
      h5
        a.collapsed(data-toggle='collapse' data-target='#collapseCompareCard' aria-expanded='false' aria-controls='collapseCompareCard')
              | Compare Cards
        i.icon-plus.circle(data-toggle='collapse' data-target='#collapseCompareCard' aria-expanded='false' aria-controls='collapseCompareCard')
    #collapseCompareCard.home-accordion__card__collapse.collapse(aria-labelledby='compareCard')
      .home-accordion__card__collapse__content
        .row.list-card-added
          .col-md-3.item-column.button-add-card
            .content
              .plus
          .col-md-3.item-column.compare-button
            button.general-button COMPARE NOW (2)
            br
            span.notice Select maximum 3 cards to compare