@import './../accordion/accordion.scss';

@mixin namecard {
    .card-name {
        color: $black;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
    }
}

@mixin cardAction {
    .card-action {
        color: #22e65e;
        padding: 2px 15px;
        border: 1px solid #22e65e;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
}

.add-card-component {

    .add-card-content {
        margin-top: 0 auto;
        padding: 0 50px;

        .slick-list {
            padding: 20px 0;
            border-bottom: 2px solid #c9c9c9;
        }

        .credit-card-item {
            width: 85% !important;

            img {
                width: 100%;
            }

            span.deactivated-by-choice,
            span.deactivated-by-count {
                pointer-events: none;
                opacity: .3;
            }

            @include namecard();


            @include cardAction();
        }

        .slick-list {
            text-align: center;
        }

        .slick-prev:before {
            display: inline-block;
            font-size: 28px;
            color: #96a1a2;
            content: "\f0a8";
            font-family: 'FontAwesome';
        }

        .slick-next:before {
            display: inline-block;
            font-size: 28px;
            color: #96a1a2;
            content: "\f0a9";
            font-family: 'FontAwesome';
        }
    }


    .home-accordion__card__header,
    .home-accordion__card__collapse {
        padding: 0 50px;
    }

    .home-accordion__card__collapse {

        .list-card-added {
            padding-top: 15px;
            display: flex;

            .item {
                display: flex;

                .card-image {
                    width: 59%;

                    img {
                        width: 100%;
                    }
                }

                .card-infomation {
                    width: 41%;
                    margin-left: 20px;
                    @include namecard();
                    @include cardAction();
                }
            }

            .button-add-card {
                order: 1;

                .content {
                    width: 80%;
                    background: #ababab;
                    height: 100%;
                    border-radius: 16px;

                    .plus {
                        position: absolute;
                        top: 50%;
                        left: 43%;
                        transform: translate(-50%, -50%);
                        background: #ffffff;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        border-radius: 50%;
                        margin: 0 auto 15px;
                        text-align: center;

                        &:before {
                            content: '\f067';
                            font-family: 'FontAwesome';
                            color: #017f40;
                            cursor: pointer;
                        }
                    }
                }

                &.remove-class-add-card {
                    display: none;
                }
            }

            .compare-button {
                text-align: center;
                order: 2;

                .general-button {
                    padding: 10px 25px;
                    margin-bottom: 10px;
                    border: none;
                    outline: none;
                    font-weight: 600;
                    width: 100%;
                    @include button (#ff0103, #fff);
                }

                button.deactivated {
                    pointer-events: none;
                    opacity: .5;
                }

                .notice {
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}