.user-rating
  .user-rating__content
    span.user-rating__star.checked
    span.user-rating__star.checked
    span.user-rating__star.checked
    span.user-rating__star.checked
    span.user-rating__star
  .user-rating__count (9,974 Cardmember Rated)