.user-rating {
  line-height: 1.1;
  &__star {
    margin-right: 7px;
    font-size: 1.4rem;
    cursor: pointer;

    @include min-sm {
      font-size: 2.2rem;
    }

    &:before {
      content: "\f006";
      color: #FF0102;
      font-family: 'FontAwesome';
    }

    &.checked {
      &:before{
        content: "\f005";
      }
    }
  }

  &__count{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 5px;
    
    @include min-sm {
      font-size: 2.2rem;
      line-height: 3rem;
      margin-top: 15px;
    }
  }
}