section.masthead
  .masthead__images
    picture
      source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
      img.img-responsive(src="assets/images/masthheader.png", alt="")
  .container
    .masthead__content
      include ../breadcrumb/breadcrumb.pug
      .masthead__content__title Card services
      .masthead__content__detail Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, autem?