section.masthead.card-detail-banner
  .masthead__images
    picture
      source(media='(max-width: 767px)', srcset='assets/images/pic-test/card-detail-banner-mb.png')
      img.img-responsive(src="assets/images/pic-test/card-detail-banner-dt.png", alt="")
  .container
    .masthead__content
      include ../../components/breadcrumb/breadcrumb.pug
      .masthead__content__tag BEST SELLER
      .masthead__content__title Mobifone Vpbank Titanium Card
      .masthead__content__card
        include ../../components/user-rating/user-rating.pug
        
