extends ../layouts/master.pug

block title
  title My Page - home

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords', content='home, page')
  meta(name='author' content='')

block content
  include ../components/banner-slideshow/banner-slideshow.pug
  // Button trigger modal
  button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal')
    | Launch demo modal
  //Primary Search Bar
  include ../components/primary-search-bar/primary-search-bar.pug
  // Retail Banking
  //- include ../components/retail-banking/retail-banking.pug
  // Modal
  include ../components/modal/modal.pug
  // Accordion
  include ../components/accordion/accordion.pug
  // More from vpbank
  //- include ../components/more-from-vpbank/more-from-vpbank.pug
  // Compare Card
  //- include ../components/compare-cards/compare-cards.pug
  //- include ../components/add-card/add-card.pug
  // Section Talk To Us
  include ../components/talk-to-us/talk-to-us.pug
  // Navtab
  include ../components/nav-tab/nav-tab.pug

