extends ../layouts/master.pug

block title
  title Items Home

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords', content='home, page')
  meta(name='author' content='')

block content
  include ../components/banner-slideshow/banner-slideshow.pug

