.slideshow
  div.slideshow__header
    picture
      source(media='(max-width: 767px)', srcset='assets/images/banner-m.jpg')
      img(src="/assets/images/banner.jpg", alt="")
    .container
      .slide-text
        .slide-text__title Lorem ipsum dolor sit amet consectetur
        .slide-text__detail Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati aperiam magni ipsa atque vitae nihil omnis laboriosam laborum doloribuslaboriosam laborum doloribuslaboriosam laborum doloribus
        .slide-text__button
          a.btn.btn-outline-primary(href='#') find out now
  div.slideshow__header
    picture
      source(media='(max-width: 767px)', srcset='assets/images/banner-m.jpg')
      img(src="/assets/images/banner.jpg", alt="")
    .container
      .slide-text
        .slide-text__title Lorem ipsum dolor sit amet consectetur
        .slide-text__detail Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati aperiam magni ipsa atque vitae nihil omnis laboriosam laborum doloribuslaboriosam laborum doloribuslaboriosam laborum doloribus
        .slide-text__button
          a.btn.btn-outline-primary(href='#') find out now