section.retail-banking
  .container
    h1.title-with-underline Retail Banking
    .retail-banking__content
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 Personal Service
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 Card Service
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 Loan
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 Account
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 Savings Account
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 E-Banking Service
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 Insurance
        .retail-banking__content__option
          a(href="#")
            span
              img(src="assets/images/logo-header-white.png", alt="not-active")
              img.active(src="assets/images/main-logo.png", alt="active")
            h3 VPBank Loyalty