section.promotion
  .container
    .section-title 
      h1 Promtion
    ul.so-tab.promotion--tab
      li.active
        a(href="#") Fashion
      li
        a(href="#") Travel
      li
        a(href="#") F&B
      li
        a(href="#") Beauty
      li
        a(href="#") Shopping
      li
        a(href="#") Health
      li
        a(href="#") Exclusive
      li
        a(href="#") Real Estate
      li
        a(href="#") Car
      li
        a(href="#") Insurance
    .so-tab-content.promotion-tab-content.show
      .row 
        .col-lg-8.promotion-wrap__left
          //- promotion weather bar
          .promotion-weather-bar
            .row 
              .col-xs-5
              .col-xs-7
                h4 VPBank has a lot of promotion for you.
                  br 
                  | Discover it!
                a.btn.btn-outline-primary(href="#") Discover now
          //- promotion slide
          .promotion-slide
            //- promotion item main 1
            a(href="#").promotion-item.promotion-item--main
              picture
                source(media="(max-width: 767px)", srcset='assets/images/promotion-item.jpg')
                img(src='assets/images/promotion-item.jpg', alt='')
              .promotion-item__content
                span.promotion-item--tag Limited time
                .promotion-item--category 
                  label 
                    img(src='assets/images/language-vn.png', alt='')
                    span Travel
                h3.promotion-item--title Lorem ipsum dolor sit amet, consectetur adipiscing elit
            //- promotion item main 2
            a(href="#").promotion-item.promotion-item--main
              picture
                source(media="(max-width: 767px)", srcset='assets/images/promotion-item.jpg')
                img(src='assets/images/promotion-item.jpg', alt='')
              .promotion-item__content
                div.promotion-item--tag Limited time
                .promotion-item--category
                  label
                    img(src='assets/images/language-vn.png', alt='')
                    span Travel
                h3.promotion-item--title Lorem ipsum dolor sit amet, consectetur adipiscing elit
        .col-lg-4.promotion-wrap__right
          //- promotion item
          a(href="#").promotion-item
            picture
              source(media="(max-width: 767px)", srcset='assets/images/promotion-item.jpg')
              img(src='assets/images/promotion-item.jpg', alt='')
            .promotion-item__content
              span.promotion-item--tag Limited time
              .promotion-item--category 
                label 
                  img(src='assets/images/language-vn.png', alt='')
                  span Travel
              h3.promotion-item--title Lorem ipsum dolor sit amet, consectetur adipiscing elit
          a(href="#").promotion-item
            picture
              source(media="(max-width: 767px)", srcset='assets/images/promotion-item.jpg')
              img(src='assets/images/promotion-item.jpg', alt='')
            .promotion-item__content
              span.promotion-item--tag Limited time
              .promotion-item--category 
                label 
                  img(src='assets/images/language-vn.png', alt='')
                  span Travel
              h3.promotion-item--title Lorem ipsum dolor sit amet, consectetur adipiscing elit
          a(href="#").promotion-item
            picture
              source(media="(max-width: 767px)", srcset='assets/images/promotion-item.jpg')
              img(src='assets/images/promotion-item.jpg', alt='')
            .promotion-item__content
              span.promotion-item--tag Limited time
              .promotion-item--category 
                label 
                  img(src='assets/images/language-vn.png', alt='')
                  span Travel
              h3.promotion-item--title Lorem ipsum dolor sit amet, consectetur adipiscing elit
          a(href="#").promotion-item
            picture
              source(media="(max-width: 767px)", srcset='assets/images/promotion-item.jpg')
              img(src='assets/images/promotion-item.jpg', alt='')
            .promotion-item__content
              span.promotion-item--tag Limited time
              .promotion-item--category 
                label 
                  img(src='assets/images/language-vn.png', alt='')
                  span Travel
              h3.promotion-item--title Lorem ipsum dolor sit amet, consectetur adipiscing elit