// So Tab
.so-tab {
  padding: 0;
  list-style: none;

  li {
    display: inline-block;

    a {
      display: block;
      padding: $global-padding/2 $global-padding;
    }
  }
}

.so-tab-content {
  display: none;

  &.show {
    display: block;
  }
}

// Section Title
.section-title {
  text-align: center;
  margin-bottom: $global-margin;

  h1 {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;

    &:after {
      background: $primary;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 3px;
      width: 40px;
      margin-left: -20px;
    }
  }
}

// Promotion Component
.promotion {
  margin-bottom: $global-margin*2;

  // promotion weather bar
  &-weather-bar {
    background: $gray-lighter;
    padding: $global-padding;
    margin-bottom: $global-margin;
    
    h4 {
      margin-bottom: $global-margin;
    }
  }

  // promotion tab
  &--tab {
    margin-bottom: $global-margin*2;
    
    li {
      a {
        text-transform: uppercase;
        color: $gray;
        position: relative;
        border-top: 2px solid $primary;
        border-bottom: 1px solid $gray;

        &:before {
          content: '';
          display: block;
          background: $primary;
          position: absolute;
          width: 100%;
          height: 0;
          left: 0;
          top: 0;
          transition: 0.2s;
          z-index: -1;
        }

        &:hover {
          color: $white;
          text-decoration: none;

          &:before {
            height: 100%;
          }
        }
      }
    }
  }

  &-item {
    position: relative;
    display: block;

    picture {
      img {
        max-width: 100%;
      }
    }

    // item content
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      padding: $global-padding;
    }

    // tag
    &--tag {
      background: $white;
      padding: $global-padding/4 $global-padding/2;
      text-transform: uppercase;
      color: $black;
      margin-bottom: $global-margin/4;
      display: inline-block;
      font-size: $font-size-small;
    }

    // category
    &--category {
      label {
        img {
          display: inline-block;
          margin-right: $global-margin/4;
        }
      }
    }

    // title
    &--title {
      font-size: $h4-font-size;
    }

    // promotion item main
    &--main {

      // title
      .promotion-item--title {
        font-size: $h1-font-size;
      }

      // tag
      .promotion-item--tag {
        font-size: $font-size-base;
      }
    }
  }

  // Wrap Right
  &-wrap__right {
    height: 526px;
    overflow-y: auto;

    .promotion-item {
      margin-bottom: $global-margin;
    }
  }
}