.primary-search-bar
  .row.primary-search-bar__content
    .col-sm-4.primary-search-bar__content__title
      | I want to
    .col-sm-8.primary-search-bar__content__dropdown
      .primary-search-bar__content__dropdown__item.animated
        | buy a car
      .primary-search-bar__content__dropdown__item.animated
        | buy a house
      .primary-search-bar__content__dropdown__item.animated
        | text buy a wife
    i.icon-arrow
  .primary-search-bar__menu
    .primary-search-bar__menu__content.animated
      ul.primary-search-bar__menu__content__list
        li.primary-search-bar__menu__content__list__item
          a(href="#")
            img(src="/assets/images/language-vn.png", alt="")
            | Buy a car
        li.primary-search-bar__menu__content__list__item
          a(href="#")
            img(src="/assets/images/language-vn.png", alt="")
            | Travel more
        li.primary-search-bar__menu__content__list__item
          a(href="#")
            img(src="/assets/images/language-vn.png", alt="")
            | Plan for my wedding
        li.primary-search-bar__menu__content__list__item
          a(href="#")
            img(src="/assets/images/language-vn.png", alt="")
            | Buy a home
        li.primary-search-bar__menu__content__list__item
          a(href="#")
            img(src="/assets/images/language-vn.png", alt="")
            | Grow my family
        li.primary-search-bar__menu__content__list__item
          a(href="#")
            img(src="/assets/images/language-vn.png", alt="")
            | Star a business 