.primary-search-bar {
  width: 400px;
  height: 64px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #fff;
  padding: 0 15px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

  i {
    color: green;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: calc(50% - 15px);
    transition: transform .4s ease-in-out;  

    &.active {
      transform: rotate(180deg);
    }
  }

  &__content {
    height: 50px;
    padding-top: 11px;

    &__dropdown {
      position: relative;
      overflow: hidden;

      &__item {
        color: green;
        position: absolute;
        top: 0;
        width: calc(100% - 30px);
      }

      .animated {
        animation-duration: 2.4s;
      }
    }
  }

  &__menu {
    width: 300px;
    position: absolute;
    top: -65px;
    left: calc(100%/3);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &__content {
      border-radius: 3px;
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

      &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
          height: 64px;
          color: #000;
          background-color: white;
          border-bottom: 1px solid #e7e7e7;

          &:first-child {
            border-radius: 3px 3px 0 0;
          }

          &:last-child {
            border-bottom: none;
            border-radius: 0 0 3px 3px;
          }

          &:hover {
            >a {
              color: green;
            }
          }

          >a {
            color: #000;
            display: block;
            position: relative;
            background-color: transparent;
            padding: 15px 15px 15px 55px;

            &:hover {
              cursor: pointer;
              text-decoration: none;
            }

            img {
              top: 20px;
              left: 15px;
              position: absolute;
            }
          }
        }
      }
    }
  }
}

.animated {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeInUpCustom {
  0% {
    opacity: 0;
    transform: translate3d(0, 2.4rem, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -2.4rem, 0);
  }

}

.fadeInUpCustom {
  animation-name: fadeInUpCustom;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 3rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 3rem, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}
