section.talk-to-us
  .talk-to-us__image
    picture
      source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
      img(src="assets/images/pic-test/talk-to-us.jpg", alt="not-mobile")
  .talk-to-us__content
    .container
      h1.title-with-underline Talk To Us
      .talk-to-us__content__option
        .talk-to-us__content__option__item
          a(href='#')
            span
              img(src="assets/images/logo-header-white.png", alt="not-mobile")
            h3 1900545415
        .talk-to-us__content__option__item
          a(href='#')
            span
              img(src="assets/images/logo-header-white.png", alt="not-mobile")
            h3 Find brand ATM
        .talk-to-us__content__option__item
          a(href='#')
            span
              img(src="assets/images/logo-header-white.png", alt="not-mobile")
            h3 Email Us


