extends ../layouts/master.pug

block title
  title Card Services

block basicSeo
  meta(name='description' content='card services')
  meta(name='keywords', content='card, services')
  meta(name='author' content='')

block content
  //- Section Masthead Card Service
  include ../components/masthead/masthead.pug
  //- Section Card List

  //- Section Promotion (like homepage)

  //- Section Story & Tips

  //- Section What out customers are saying?
  include ../components/testimony/testimony.pug
  //- Section VPBank Award

  //- Section Talk To Us
  include ../components/talk-to-us/talk-to-us.pug
