.language
  ul.button-select-language
    li
      img(src='http://flags.fmcdn.net/data/flags/w580/vn.png')
  .language__select
    ul.dropdown-language#active
      li.selected
        img(src='http://flags.fmcdn.net/data/flags/w580/vn.png' alt='Viet Nam flag')
      li
        img(src='http://flags.fmcdn.net/data/flags/w580/us.png' alt='English flag')
      li
        img(src='http://flags.fmcdn.net/data/flags/w580/jp.png' alt='Japan flag')
