section.testimony
  .testimony__title
    p.sayings what our customers are saying ?
  .testimony__slide
    .testimony__slide__comment
      .author
        .author__picture
          source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
          img(src="assets/images/img-author.png", alt="not-mobile")
        .author__name-author Jessica P.
        .author__star
          .star
          .star
          .star
          .star
          .star
      .evaluate
        .evaluate__time 30/01/2019
        .evaluate__detail Lorem ipsum, dolor sit amet consectetur a veritatis incidunt!
        .evaluate__read-more Read More
    .testimony__slide__comment
      .author
        .author__picture
          source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
          img(src="assets/images/img-author.png", alt="not-mobile")
        .author__name-author Jessica P.
        .author__star
          .star
          .star
          .star
          .star
          .star
      .evaluate
        .evaluate__time 30/01/2019
        .evaluate__detail Lorem ipsum, dolor sit amet consectetur a veritatis incidunt!
        .evaluate__read-more Read More
    .testimony__slide__comment
      .author
        .author__picture
          source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
          img(src="assets/images/img-author.png", alt="not-mobile")
        .author__name-author Jessica P.
        .author__star
          .star
          .star
          .star
          .star
          .star
      .evaluate
        .evaluate__time 30/01/2019
        .evaluate__detail Lorem ipsum, dolor sit amet consectetur a veritatis incidunt!
        .evaluate__read-more Read More
    .testimony__slide__comment
      .author
        .author__picture
          source(media='(max-width: 767px)', srcset='assets/images/pic-test/talk-to-us.jpg')
          img(src="assets/images/img-author.png", alt="not-mobile")
        .author__name-author Jessica P.
        .author__star
          .star
          .star
          .star
          .star
          .star
      .evaluate
        .evaluate__time 30/01/2019
        .evaluate__detail Lorem ipsum, dolor sit amet consectetur a veritatis incidunt!
        .evaluate__read-more Read More
  
