.card-list {
    margin-top: 50px;
    padding: 10px 50px;

    &__filter {
        float: left;

        .choice-button {
            text-transform: uppercase;
            margin-right: 10px;
            font-weight: bold;
            border: none;

            &.active {
                background: #008347;
                color: #ffffff;
            }
        }
    }

    &__button-compare-card {
        float: right;
        background: #008346;
        border: none;

        &.deactivated {
            pointer-events: none;
            opacity: .5;
        }
    }

    &__clear-float {
        clear: both;
    }

    &__list-item {
        display: none;
    }

    &__list-item-display {
        height: 1322px;
    }

    &__list-item, &__list-item-display  {
        margin-top: 20px;


        .card-item {
            margin-bottom: 25px;

            &__image-container {
                padding: 60px;
                text-align: center;
                background: #b4cfc2;

                &--card-image {
                    transform: rotate(-30deg);
                    width: 85%;
                }
            }

            &__description {
                background: #f4f7f8;
                padding: 20px;

                .card-type {
                    color: #7cbea1;
                    font-size: 12px;
                }

                .name {
                    font-size: 20px;
                    font-weight: bold;
                }

                .description {
                    padding-left: 20px;

                    li {
                        list-style-type: square;
                    }
                }

                .add-compare {
                    span {
                        color: #9bd0dd;
                        text-transform: uppercase;
                        font-size: 15px;
                    }

                    input.deactivated-by-count {
                        pointer-events: none;
                        opacity: .2;
                    }
                }

                .choice-button-action {
                    margin-top: 20px;

                    .button-apply,
                    .button-infomation {
                        color: #fff;
                        padding: 15px 25px;
                        margin-bottom: 10px;
                        border: none;
                        outline: none;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

                    .button-apply {
                        margin-right: 10px;
                        color: #008347;
                        border: 1px solid #008347;
                    }

                    .button-infomation {
                        color: #8e989a;
                        border: 1px solid #8e989a;
                    }
                }
            }
        }
    }

    &__pagination {
        display: flex;
        align-content: center;
        justify-content: center;

        a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 50%;
            border: 2px solid #008346;
            margin: 5px;
            color: #008346;

            &.active {
                color: #ffffff;
                background: #008346;
            }

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
          }
        }
    }
}