.footer
    .container
        section.link
            .row
                .col-md-2
                    h4.header Header 1
                    ul
                        li Text 1
                        li Text 2
                        li Text 3
                .col-md-2
                    h4.header Header 2
                    ul
                        li Text 1
                        li Text 2
                        li Text 3
                .col-md-2
                    h4.header Header 3
                    ul
                        li Text 1
                        li Text 2
                        li Text 3
                .col-md-2
                    h4.header Header 1
                    ul
                        li Text 1
                        li Text 2
                        li Text 3
                .col-md-2
                    h4.header Header 2
                    ul
                        li Text 1
                        li Text 2
                        li Text 3
                .col-md-2
                    h4.header Header 3
                    ul
                        li Text 1
                        li Text 2
                        li Text 3
        section.content
            .row
                .col-lg-2
                    img(src="/assets/images/main-logo.png" width="80px" height="50px")
                .col-lg-4
                    p Vietnam Prosperity Joint-Stock Commercial Bank (Item)
                .col-lg-2 Facebook | Zalo | Youtube
                .col-lg-4 Mobile App | App Store | Google Play
