.footer {
  background: #fff;
  font-size: 1.4rem;
  padding: 60px 0 30px;

  &__link {
    padding-bottom: 25px;

    &-title {
      font-size: $h5-font-size;
      font-weight: 700;
      margin-bottom: 25px;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 8px;

        a {
          color: $footer-text-color;

          @include hover-focus {
            color: $link-color;
          }
        }
      }
    }
  }
}
