.footer
    .container
        section.footer__link
            .row
                .col-md-2
                    h4.header Credit Card
                    ul
                        li 
                            a(href="#") Item MC2
                        li 
                            a(href="#") Item Step Up
                        li 
                            a(href="#") Item Lady
                        li 
                            a(href="#") Item Platinum
                        li 
                            a(href="#") Item World
                .col-md-2
                    h4.header Personal Loan
                    ul
                        li 
                            a(href="#") Overview
                        li 
                            a(href="#") Consition and Fees
                .col-md-2
                    h4.header Portages
                    ul
                        li 
                            a(href="#") Home Loan
                        li 
                            a(href="#") Car Loan
                        li 
                            a(href="#") Partners with Item
                .col-md-2
                    h4.header Savings Acount
                    ul
                        li 
                            a(href="#") Prosperity Preserved
                        li 
                            a(href="#") Saving
                        li 
                            a(href="#") Overview
                        li 
                            a(href="#") Saving Online
                        li 
                            a(href="#") Prosperity Preserved
                .col-md-2
                    h4.header Other Products
                    ul
                        li 
                            a(href="#") Saving
                        li 
                            a(href="#") Current Account
                        li 
                            a(href="#") Internet Banking
                        li 
                            a(href="#") AIA Insurance
                .col-md-2
                    h4.header Things you should know
                    ul
                        li 
                            a(href="#") Promotions
                        li 
                            a(href="#") Tips & Stories
                        li 
                            a(href="#") FAQs
                        li 
                            a(href="#") Ticket Status
        section.footer__content
            .row
                .col-lg-2
                    img.img-logo(src="/assets/images/main-logo.png" )
                .col-lg-4
                    span
                        b Vietnam Prosperity Joint-Stock Commercial Bank (Item)
                    span NewYork City
                .col-lg-2
                    a(href="")
                        img.img-facebook(src="/assets/images/icons/facebook.png", alt="")
                    a(href="")
                        img.img-youtube(src="/assets/images/icons/youtube.png", alt="")
                    a(href="")
                        img.img-zalo(src="/assets/images/icons/zalo.png", alt="")
                .col-lg-4
                    .promo
                        a(href="").Item
                            p
                                |Item
                                br
                                |MOBILE APP
                        a(href="")
                            img.img-appstore(src="/assets/images/app-store.png", alt="")
                        a(href="")
                            img(src="/assets/images/goggle-play.png", alt="")
git