footer.footer
  .container
    section.footer__link
      .row
        .col-md-2
          h3.footer__link-title Credit Card
          ul
            li 
              a(href="#") Item MC2
            li 
              a(href="#") Item Step Up
            li 
              a(href="#") Item Lady
            li 
              a(href="#") Item Platinum
            li 
              a(href="#") Item World
        .col-md-2
          h3.footer__link-title Personal Loan
          ul
            li 
              a(href="#") Overview
            li 
              a(href="#") Consition and Fees
        .col-md-2
          h3.footer__link-title Portages
          ul
            li 
              a(href="#") Home Loan
            li 
              a(href="#") Car Loan
            li 
              a(href="#") Partners with Item
        .col-md-2
          h3.footer__link-title Savings Acount
          ul
            li 
              a(href="#") Prosperity Preserved
            li 
              a(href="#") Saving
            li 
              a(href="#") Overview
            li 
              a(href="#") Saving Online
            li 
              a(href="#") Prosperity Preserved
        .col-md-2
          h3.footer__link-title Other Products
          ul
            li 
              a(href="#") Saving
            li 
              a(href="#") Current Account
            li 
              a(href="#") Internet Banking
            li 
              a(href="#") AIA Insurance
        .col-md-2
          h3.footer__link-title Things you should know
          ul
            li 
              a(href="#") Promotions
            li 
              a(href="#") Tips & Stories
            li 
              a(href="#") FAQs
            li 
              a(href="#") Ticket Status