.slideshow
  div.slideshow__header
    img(src="/assets/images/banner.jpg", alt="")
    .container
      .slide-text
        .slide-text__h1 Lorem ipsum dolor sit amet consectetur
        .slide-text__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati aperiam magni ipsa atque vitae nihil omnis laboriosam laborum doloribuslaboriosam laborum doloribuslaboriosam laborum doloribus
        .slide-text__button
          button(type='button') find out now
  div.slideshow__header
    img(src="/assets/images/banner.jpg", alt="")
    .container
      .slide-text
        .slide-text__h1 Lorem ipsum dolor sit amet consectetur
        .slide-text__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati aperiam magni ipsa atque vitae nihil omnis laboriosam laborum doloribuslaboriosam laborum doloribuslaboriosam laborum doloribus
        .slide-text__button
          button(type='button') find out now
  div.slideshow__header
    img(src="/assets/images/banner.jpg", alt="")
    .container
      .slide-text
        .slide-text__h1 Lorem ipsum dolor sit amet consectetur
        .slide-text__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati aperiam magni ipsa atque vitae nihil omnis laboriosam laborum doloribuslaboriosam laborum doloribuslaboriosam laborum doloribus
        .slide-text__button
          button(type='button') find out now