fieldset.user-vote-rating
  input#fivestar(type="radio" name="rating" value="5")
  label.star(for="fivestar")
  input#fourstar(type="radio" name="rating" value="4")
  label.star(for="fourstar")
  input#threestar(type="radio" name="rating" value="3")
  label.star(for="threestar")
  input#twostar(type="radio" name="rating" value="2")
  label.star(for="twostar")
  input#onestar(type="radio" name="rating" value="1")
  label.star(for="onestar")