.user-vote-rating {
  margin-bottom: 25px;
  display: block;
  float: left;

  input {
    display: none;
    &#fivestar{
      + label{
        padding-right: 0;
      }
    }
  }

  > label {
    padding-right: 5px;
    color: #ddd;
    float: right;
    font-size: 20px;

    &:before{
      color: #FF0102;
      display: inline-block;
      font-family: 'FontAwesome';
      content: "\f006";
    }
  }
}

.user-vote-rating > input:checked ~ label, /* show gold star when clicked */
.user-vote-rating:not(:checked) > label:hover, /* hover current star */
.user-vote-rating:not(:checked) > label:hover ~ label {
  color: #FF0102;
  &:before{
    content: "\f005";
  }
} /* hover previous stars in list */

.user-vote-rating > input:checked + label:hover, /* hover current star when changing rating */
.user-vote-rating > input:checked ~ label:hover,
.user-vote-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.user-vote-rating > input:checked ~ label:hover ~ label {color: #FF0102;}