.animated-fast,
.animated-on-scroll-fast {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 0;
}

.animated,
.animated-on-scroll {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  opacity: 0;
}

.animated-slow,
.animated-on-scroll-slow {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@for $i from 1 through 30 {
  .delay-#{$i}00 {
    animation-delay: #{$i * 100}ms;
    transition-delay: #{$i * 100}ms;

    &:before,
    &:after {
      animation-delay: #{$i * 100}ms;
      transition-delay: #{$i * 100}ms;
    }
  }
}

// Animation Class
.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInUp-big {
  animation-name: fadeInUpBig;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInLeftFast {
  animation-name: fadeInLeftFast;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInRightFast {
  animation-name: fadeInRightFast;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInDownSmall {
    animation-name: fadeInDownSmall;
  }

// Animation Keyframes
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftFast {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(3rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightFast {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 3rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 6rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -3rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownSmall {
    from {
      opacity: 0;
      transform: translate3d(0, -1.5rem, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(3rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}
