// Variable
// INFO: customize bootstrap variables

// Color system

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


// Grays
// -------------------------

$gray-darker:            $gray-800;
$gray-dark:              $gray-600;
$gray:                   $gray-500;
$gray-light:             $gray-300;
$gray-lighter:           $gray-200;
$gray-lightest:          $gray-100; // Add gray lightest


// Brand colors
// -------------------------

$primary:         #145cd3;
$secondary:       #ed111c;
$success:         #5cb85c;
$warning:         #ffdb00;
$danger:          #d9534f;
$info:            #0abceb;
$light:             $gray-lightest;
$dark:              $gray-darker;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "default":    $white,
    // "primary":    $primary,
  ),
  $theme-colors
);

// Body

$body-bg:               #fff;
$body-color:            $gray-dark;
$text-color:            $gray;
$border-color:          $gray-300;


// Links
// -------------------------

$link-color:            $primary;
$link-hover-color:      lighten($link-color,10%);


// Typography
// -------------------------

$font-family-sans-serif:  'Krub', sans-serif;
$font-family-serif:       'Proxima Nova', serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-serif;

$font-size-base:          1.6rem;
$font-size-large:         1.8rem;
$font-size-small:         1.4rem;
$font-size-smaller:       1.2rem;

$font-weight-lighter:     100;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-bold:        600;
$font-weight-black:       700;
$font-weight-bolder:      900;

$h1-font-size:            4.4rem;
$h2-font-size:            4rem;
$h3-font-size:            3.2rem;
$h4-font-size:            2.8rem;
$h5-font-size:            1.8rem;
$h6-font-size:            $font-size-base;

$line-height-base:        1.5;
$line-height-computed:    floor($font-size-base * $line-height-base);

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    $font-weight-bold;
$headings-line-height:    1.33333;
$headings-color:          $gray-dark;

$border-radius:               .3rem;
$border-radius-lg:            .4rem;
$border-radius-sm:            .2rem;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         0.5rem;
$input-btn-padding-x:         3rem;
$input-btn-font-family:       null;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       $line-height-base;

$btn-box-shadow:              0 0 5px rgba($black, 0.2);

// Buttons
// -------------------------

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $font-size-small;
$btn-line-height:             2;
$btn-border-radius:           0;

// button style
$btn-default-color:              $white;
$btn-default-bg:                 $text-color;
$btn-default-border:             $text-color;
$btn-default-color-hover:        $text-color;
$btn-default-bg-hover:           $white;
$btn-default-border-hover:       $white;
$btn-default-color-active:       $text-color;
$btn-default-bg-active:          rgba($btn-default-bg, 0.1);
$btn-default-border-active:      rgba($btn-default-bg, 0.1);

$btn-primary-color:              #fff;
$btn-primary-bg:                 $primary;
$btn-primary-border:             $primary;
$btn-primary-color-hover:        $primary;
$btn-primary-bg-hover:           $white;
$btn-primary-border-hover:       $white;
$btn-primary-color-active:       $primary;
$btn-primary-bg-active:          rgba($btn-primary-bg, 0.1);
$btn-primary-border-active:      rgba($btn-primary-bg, 0.1);

$btn-secondary-color:          #fff;
$btn-secondary-bg:               $secondary;
$btn-secondary-border:           $secondary;
$btn-secondary-color-hover:      $secondary;
$btn-secondary-bg-hover:         $white;
$btn-secondary-border-hover:     $white;
$btn-secondary-color-active:     $secondary;
$btn-secondary-bg-active:        rgba($btn-secondary-bg, 0.1);
$btn-secondary-border-active:    rgba($btn-secondary-bg, 0.1);


// Forms
// -------------------------

$input-bg:                       #fff;
$input-bg-disabled:              $gray-200;

$input-color:                    $gray-600;
$input-border:                   #e8e8e8;
$input-border-radius:            $border-radius;
$input-border-focus:             darken($input-border, 15%);

$input-color-placeholder:        $gray-200;

// $input-height-base:              (floor($font-size-h6 * $line-height-base) + ($padding-base-vertical * 2) + 2);

$input-group-addon-bg:           $gray-200;
$input-group-addon-border-color: $input-border;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px;


// Tabs

// $nav-tabs-border-color:                     #ddd;

// $nav-tabs-link-hover-border-color:          $gray-200;

// $nav-tabs-active-link-hover-bg:             $body-bg;
// $nav-tabs-active-link-hover-color:          $gray-600;
// $nav-tabs-active-link-hover-border-color:   #ddd;

// $nav-tabs-justified-link-border-color:            #ddd;
// $nav-tabs-justified-active-link-border-color:     $body-bg;


// Modals
// -------------------------

// $modal-inner-padding:         20px;

// $modal-title-padding:         15px;
// $modal-title-line-height:     $line-height-base;

// $modal-content-bg:                             #fff;
// $modal-content-border-color:                   rgba(0,0,0,.2);
// $modal-content-fallback-border-color:          #999;

// $modal-backdrop-bg:           #000;
// $modal-header-border-color:   #e5e5e5;
// $modal-footer-border-color:   $modal-header-border-color;


// Others
//
// INFO: overwrite grid breakpoint

$grid-breakpoints: (
  xxs: 320px,
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  // xxl: 1760px
);


// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone 5
// Note: Deprecated $screen-xxs and $screen-phone
$screen-xxs:              grid-breakpoints(xxs);
$min-xxs:                 $screen-xxs;
$screen-phone-s:          $min-xxs;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone
$screen-xs:               grid-breakpoints(xs);
$min-xs:                  $screen-xs;
$screen-phone:            $min-xs;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet
$screen-sm:               grid-breakpoints(sm);
$min-sm:                  $screen-sm;
$screen-tablet:           $min-sm;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop
$screen-md:               grid-breakpoints(md);
$min-md:                  $screen-md;
$screen-desktop:          $min-md;

// Large screen / Laptop
// Note: Deprecated $screen-lg and $screen-lg-desktop
$screen-lg:               grid-breakpoints(lg);
$min-lg:                  $screen-lg;
$screen-lg-desktop:       $min-lg;

// xLarge screen / wide desktop
// Note: Deprecated $screen-xl and $screen-xl-desktop
$screen-xl:               grid-breakpoints(xl);
$min-xl:                  $screen-xl;
$screen-xl-desktop:       $min-xl;

// xxLarge screen / wide desktop
// Note: Deprecated $screen-xxl and $screen-xxl-desktop
$screen-xxl:               grid-breakpoints(xxl);
$min-xxl:                  $screen-xxl;
$screen-xxl-desktop:       $min-xxl;

// So media queries don't overlap when required, provide a maximum
$max-xxs:         ($min-xs - 1);
$max-xs:          ($min-sm - 1);
$max-sm:          ($min-md - 1);
$max-md:          ($min-lg - 1);
$max-lg:          ($min-xl - 1);
$max-xlg:         ($min-xxl - 1);


// Container max width
// ------------------------------------------

// container ipad
$container-sm:      container-max-widths(sm);

// container ipad
$container-md:      container-max-widths(md);

// container laptop
$container-lg:      container-max-widths(lg);

// container xl desktop
$container-xl:      container-max-widths(xl);


// Global Margin& Padding
// -------------------------
$global-margin:              $line-height-computed;
$global-padding:             $line-height-computed;


// Default

$paragraph-margin-bottom: 0.4 rem;


// Footer Styles
// -------------------------

$footer-bg:              $black;
$footer-text-color:      $gray-200;


// Menu Variable

$sub-menu-background:         brown;
$sub-menu-link-color:         #fff;
$main-menu-link-color:        #8A9496;
$main-menu-link-hover-color:  $primary;
$sub-menu-border-radius:      0;
$main-menu-link-hover-bg:     transparent;
$sub-menu-background:       $primary;
$sub-menu-box-shadow:         none;
// INFO: waiting for mobile design
// $sub-menu-arrow-display: none;
// $sub-menu-link-hover-background:none;
$sub-menu-link-hover-color:  white;

// Index
$Z-INDEX-TOP: 1;
$Z-INDEX-TOP-SECONDARY: 2;
